image: node:10

stages:
  - build
  - test
  - deploy

cache:
  paths:
    - node_modules/


build_contract:
  stage: build
  script: 
    - npm i --save-dev
    - npm run lint
    - npm run build


test_contract:
  stage: test
  script: 
    - npm run testWithGanache
    - npm run coverage
  artifacts:
    reports:
      cobertura: coverage/cobertura-coverage.xml
      junit: test-results.xml
    paths:
      - coverage/

deploy_coverage:
  stage: deploy
  script:
    - mv coverage/ public/
  artifacts:
    paths:
      - public
    expire_in: 30 days
  only:
    - master
